// VARIABLES:
@import '../../../styles/variables.scss';
// CLASSES:
@import '../../../styles/classes.scss';
// ANIMATIONS:
@import '../../../styles/animations.scss';

#scroller-wrapper {
  overflow: hidden;
  width: 100%;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #bbb;
  }
}
#scroller {
  height: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  animation-name: diagonal-effect;
  transition: 0.3s ease;
  // animation-iteration-count: infinite;
  // animation-fill-mode: backwards;
  animation-duration: 5s;

  // For Google Chrome
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $blueColor;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $blueDarkColor;
  }
  &::-webkit-scrollbar-track {
    border-radius: 3px;
  }
}
@keyframes diagonal-effect {
  0% {
    overflow-x: hidden;
    transform: translateX(110%);
  }
  96% {
    overflow-x: hidden;
  }
  100% {
    overflow-x: scroll;
    transform: translateX(0%);
  }
}
.element-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.element {
  // height: 100%;
  padding: 25px 16px;
  display: inline-block;
  // outline: 1px solid black;
  animation-name: fallingdown;
  animation-duration: 2s;
  // animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
@keyframes fallingdown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@for $i from 1 through 10 {
  .element:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.5}s;
  }
}
.coin-img {
  width: 22px;
  border-radius: 3px;
  margin-right: 5px;
}
.title {
  font-size: 16px;
  color: $fontGrey;
  font-weight: bold;
  margin: 0 5px 0 0;
  padding: 0;
}
.price {
  color: $blueColor;
}
